* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #999999;
}

.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #ff6801;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    position: fixed;
    top: 0;
    z-index: 1;

}

.header-top {
    width: 100%;
    padding: 5px;
    padding-bottom: 0px;
}

ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}


ul>li>a {
    text-decoration: none !important;
    color: #ffffff;
    font-size: 12px;
    font-family: helvetica;
}

.header-top>ul>li {
    list-style: none;
}

.header-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    width: 40%;
}

.logo>img {
    width: 100%;
}

.nav {
    width: 100%;
    padding: 5px !important;
    background-color: transparent !important;

}

.inp {
    width: 400px;
    border-radius: 10px;
}

.btn {
    background-color: #ffe1d2;
    ;
    border: none;
}

.btn:hover {
    background-color: #ffe1d2;
    border-color: #ffe1d2;
}

.btn:active {
    border: none;
}

.sarch {
    color: #ff6801;
}

.user {
    font-size: 0.8rem;

}

.user>span {
    color: white;
    font-weight: bolder;
}

.user>i {
    color: white;
}

.white {
    color: white;
}

.heros {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    gap: 15px;
    margin-top: 100px;
    background-color: #dbd7d7;
}

.lists {
    width: 25%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    font-size: 0.8rem;
    padding-top: 10px;

}

.imgs {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    object-fit: cover;
    background-color: white;
}

.imgs>img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.lists>ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    padding-left: 10px;
    padding-right: 10px;


}

.lists>ul>li {
    width: 100%;
    padding: 5px;
    line-height: 0px;
    list-style: none;
    cursor: pointer;
    font-size: 0.7rem;

}


.lists>ul>li:hover {
    background-color: #dbd7d7;
    color: #ff6801;
}

.heros1 {

    width: 100%;
    padding: 20px;
    background-color: #dbd7d7;
}

.facilate {
    width: 100%;
    padding: 10px 5px;
    background-color: #faece4;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

}

.facilate:hover {
    background-color: #ffe1d2;
}

.safe {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 2px;
    padding-right: 12px;
    border-right:1px solid silver;
}

.orange {
    color: #ff6801;
    font-size: 1rem;
}
.blue{
    color: darkblue;
    font-size: 1rem;
}
.green{
    color: #0f7e74bb;
    font-size: 1rem;
}
@media screen and (max-width:950px) {
    .heros {
        margin-top: 110px;
        flex-direction: column-reverse;
    }

    .imgs {
        width: 100%;

    }

    .lists {
        width: 40%;
        padding-left: 5px;
    }
    .safe{
        width: 45%;
        justify-content: left;
         
        padding: 0px;
        border: none;

}
}
@media screen and (max-width:520px) {
    .header>.header-top>ul>li>a {
        font-size: 0.5rem;
    }

    .header-top>ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 5px 10px;

    }

    .inp {
        width: 90%;
    }

    .lists {
        width: 100%;
    }

}