* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: silver;
}

.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #ff6801;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    position: fixed;
    top: 0;
    z-index: 1;

}

.header-top {
    width: 100%;
    padding: 5px;
    padding-bottom: 0px;
}

ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}


ul>li>a {
    text-decoration: none !important;
    color: #ffffff;
    font-size: 12px;
    font-family: helvetica;
}

.header-top>ul>li {
    list-style: none;
}

.header-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    width: 40%;
}

.logo>img {
    width: 100%;
}

.nav {
    width: 100%;
    padding: 5px !important;
    background-color: transparent !important;

}

.inp {
    width: 400px;
    border-radius: 10px;
}

.btn {
    background-color: #ffe1d2;
    ;
    border: none;
}

.btn:hover {
    background-color: #ffe1d2;
    border-color: #ffe1d2;
}

.btn:active {
    border: none;
}

.sarch {
    color: #ff6801;
}

.user {
    font-size: 0.8rem;

}

.user>span {
    color: white;
    font-weight: bolder;
}

.user>i {
    color: white;
}

.white {
    color: white;
}

.heros {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    gap: 15px;
    margin-top: 100px;
    background-color: #f1ecec;
}

.lists {
    width: 23%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    padding-top: 10px;

}

.imgs {
    width: 75%;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    object-fit: cover;
    background-color: white;
}

.imgs>img {
    width: 100%;
    height: 320px;
    border-radius: 10px;
    cursor: pointer;
}

.lists>ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    padding-left: 10px;
    padding-right: 10px;


}

.lists>ul>li {
    width: 100%;
    padding: 8px 5px;
    line-height: 0px;
    list-style: none;
    cursor: pointer;
    font-size: 0.8rem;

}


.lists>ul>li:hover {
    background-color: #dbd7d7;
    color: #ff6801;
}

.heros1 {

    width: 100%;
    padding: 20px;
    background-color: #dbd7d7;
}

.facilate {
    width: 100%;
    padding: 8px 5px;
    background-color: #faece4;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

}

.facilate:hover {
    background-color: #f5dcd0;
}

.safe {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 2px;
    padding-right: 10px;
    border-right: 1px solid silver;
}

.safes {
    border: none;
}

.orange {
    color: #ff6801;
    font-size: 1rem;
}

.blue {
    color: darkblue;
    font-size: 1rem;
}

.green {
    color: #0f7e74bb;
    font-size: 1rem;
}

.deliverys {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: white;

}

.deliv {
    width: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;




}

.del-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;

}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px 0px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

.content:hover {
    color: #ff6801;
}

.del-img>img {
    width: 100%;
}



.sale {
    width: 100%;
    padding: 10px 20px;
    background-color: #dbd7d7;
}

.sale>h2 {
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    text-shadow: 5px 3px #ff6801;
}

.sale-now {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid silver;

}

.online {
    width: 15%;
    color: #ff6801;
    font-weight: bolder;
}

.end {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.orn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff6801;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
}

.cards {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    background-color: white;
}

.cards-1 {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    border: 1px solid silver;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-img {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    background-color: white;
}

.card-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.card-price {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    color: #ff6801;
    font-weight: bolder;
    font-size: 1.2rem;
}

.card-discount {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 5px;
}

.card-discount>s {
    color: silver;
    font-weight: normal;
}

.card-img>img {
    width: 100%;
    height: 180px;

}

.cards-2 {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card2-img {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    cursor: pointer;

}

.card2-content {
    width: 100%;
    height: 60px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

.card2-img>img {
    width: 100%;
    height: 150px;
}

.contact {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #f1ecec;
}

.load-more {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.load-more>button {
    width: 330px;
    height: 40px;
    border: 1px solid #ff6801;
    color: #ff6801;
    font-size: 1rem;
    cursor: pointer;
    background-color: transparent;

}

.care {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

}

.care-1 {
    width: 22%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;


}

.care-2 {
    width: 25%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}

.care-3 {
    width: 22%;

    display: flex;

    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

}

.care-4 {
    width: 22%;

    display: flex;

    justify-content: center;
    flex-wrap: wrap;


}

.care-1head {
    width: 100%;
    color: #ff6801;

}

.care-1list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;

}

.care-1list>ul {
    list-style: none;
    font-size: 1rem;
    padding: 0px;
    line-height: 5px;
    font-family: sans-serif;
    font-weight: 500;
}

.care-2head {
    width: 100%;
    color: #ff6801;

}

.care-2list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;

}

.care-2list>ul {
    list-style: none;
    font-size: 1rem;
    padding: 0px;
    line-height: 5px;
    font-family: sans-serif;
    font-weight: 500;
}

.care-2list>ul {
    margin-bottom: 150px;
}

.care-3head {
    width: 100%;
    color: #ff6801;

}

.care-3list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 220px;
}





.care-3list>ul {
    margin-bottom: 250px;
}

.care-4head {
    width: 100%;
    color: #ff6801;

}

.care-4list {
    width: 100%;
    display: flex;
    gap: 15px;
    margin-bottom: 240px;




}



.care-4list>a {
    text-decoration: none;
}

.black {
    font-size: 1.6rem;
    color: #2b3137;
}

.blues {
    font-size: 1.6rem;
    color: #0077b5;
}

.greenss {
    font-size: 1.6rem;
    color: #25D366;
}

.bl {
    font-size: 1.6rem;
    color: #1877F2;
}


.headerss {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.7rem;
    font-weight: bolder;
    font-family: cursive;
    background-color: #ff6801;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

@media screen and (max-width:950px) {
    .heros {
        margin-top: 110px;
        flex-direction: column-reverse;
    }

    .imgs {
        width: 100%;
        height: auto;

    }

    .imgs>img {
        height: auto;
    }

    .lists {
        width: 40%;
        padding-left: 5px;
    }

    .safe {
        width: 45%;
        justify-content: left;
        padding: 0px;
        border: none;

    }

    .deliv {
        width: 35%;
    }

    .online {
        width: 33%;
        font-size: 1rem;
    }

    .orn {
        width: 30px;
        height: 30px;
        font-size: 1rem;
    }

    .end {
        width: 65%;
        font-size: 1rem;
    }

    .sale {
        text-align: center;
    }

    .care {
        justify-content: center;
    }

    .care-1 {
        width: 70%;

    }

    .care-2 {
        width: 75%;
    }

    .care-3 {
        width: 100%;
    }

    .care-4 {
        width: 100%;
        gap:10px
    }

    .care-1head {
        text-align: center;
    }

    .care-1list>ul {
        justify-content: center;
    }

    .care-2head {
        text-align: center;
    }

    .care-2list>ul {
        justify-content: center;
    }

    .care-3head {
        text-align: center;
    }

    .care-3list {
        text-align: center;
        justify-content: center;
    }

    .care-4head {
        text-align: center;
    }

    .care-4list {
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width:520px) {
    .header>.header-top>ul>li>a {
        font-size: 0.5rem;
    }

    .header-top>ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 5px 10px;

    }

    .inp {
        width: 90%;
    }

    .lists {
        width: 100%;
    }

    .deliverys {
        justify-content: center;
        gap: 40px;
    }

    .deliv {
        width: 35%;

    }

    .cards {
        justify-content: center;
    }

}